# Arquivos de log
logs
*.log
npm-debug.log

# Dependências locais que não devem ser copiadas
node_modules

# Arquivos de ambiente e segredos (NUNCA coloque no contêiner)
.env
env.yaml
config/tome-la-de-ca-firebase-admin-key-*.json

# Metadados do Git
.git
.gitignore

# Arquivos do Docker
Dockerfile
.dockerignore